[data-theme='dark'] {
  --bg-page: url('/img/bg-dark.jpg');
  --text: var(--gray-100);
  --text-soft: var(--gray-300);
  
  --surface: rgba(25, 25, 40, 0.35);
  --surface-border: rgba(255, 255, 255, 0.15);

  --accent: var(--red-500);
  --accent-hover: var(--red-700);
}

[data-theme='light'] .dark {
  display: none;
}
