[data-theme='light'] {
  --bg-page: url('/img/bg-light.jpg');
  --text: var(--gray-900);
  --text-soft: var(--gray-700);
  
  --surface: rgba(233, 221, 221, 0.45);
  --surface-border: rgba(0, 0, 0, 0.5x);

  --accent: var(--brown-500);
  --accent-hover: var(--brown-700);
  
}

[data-theme='dark'] .light {
  display: none;
}
