@import "tailwindcss";
@import "../shared/styles/theme.css";
@import "../shared/styles/theme.light.css";
@import "../shared/styles/theme.dark.css";
@import "../shared/styles/glass.css";


.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
